SERVICE_NAME=palworld
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=2m
LOG_MAX_FILES=3
MEM_LIMIT=8g
GAME_PORT=8211
QUERY_PORT=27015

PUID=1000
PGID=1000
PORT=8211
PLAYERS=4
MULTITHREADING=true
RCON_ENABLED=false
RCON_PORT=25575
COMMUNITY=false
SERVER_NAME=World of Paldayob
SERVER_DESCRIPTION=Awesome World of Pal
SERVER_PASSWORD=
ADMIN_PASSWORD=