SERVICE_NAME=vaultwarden
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=1m
LOG_MAX_FILES=3

VIRTUAL_HOST=

DATABASE_URL=data/db.sqlite3
SIGNUPS_ALLOWED=false
SIGNUPS_VERIFY=true
SIGNUPS_DOMAINS_WHITELIST=
REQUIRE_DEVICE_EMAIL=true
INVITATIONS_ALLOWED=false
INVITATION_ORG_NAME=Bitwarden
DISABLE_ADMIN_TOKEN=false
ADMIN_TOKEN=
WEBSOCKET_ENABLED=true

DOMAIN=
SMTP_HOST=
SMTP_FROM=
SMTP_FROM_NAME=Bitwarden
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_USERNAME=
SMTP_PASSWORD=

PUSH_ENABLED=true
PUSH_RELAY_URI=https://api.bitwarden.eu
PUSH_INSTALLATION_ID=
PUSH_INSTALLATION_KEY=
