SERVICE_NAME=ddns-updater
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=1m
LOG_MAX_FILES=3

LISTENING_PORT=8000
ROOT_URL=/
PERIOD=5m
UPDATE_COOLDOWN_PERIOD=5m
PUBLICIP_FETCHERS=dns
PUBLICIP_DNS_PROVIDERS=all
PUBLICIP_DNS_TIMEOUT=5s
IPV6_PREFIX=/64
