SERVICE_NAME=watchtower
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=1m
LOG_MAX_FILES=3

WATCHTOWER_INTERVAL=2628000
WATCHTOWER_CLEANUP=true
WATCHTOWER_LABEL_ENABLE=true
WATCHTOWER_INCLUDE_RESTARTING=true