SERVICE_NAME=nextcloud
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=1m
LOG_MAX_FILES=3

VIRTUAL_HOST=
VIRTUAL_HOST_DOC=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_INITDB_SKIP_TZINFO=1

REDIS_HOST=redis
REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL

NEXTCLOUD_TRUSTED_DOMAINS=${VIRTUAL_HOST}
TRUSTED_PROXIES=172.18.0.0/16

JWT_ENABLED=true
JWT_SECRET=
JWT_HEADER=Authorization
JWT_IN_BODY=true