SERVICE_NAME=minecraft-stoneblock3
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=2m
LOG_MAX_FILES=3
MEM_LIMIT=6g
SERVER_PORT=25566

EULA=TRUE
TYPE=FTBA
FTB_MODPACK_ID=100
MEMORY=4G
MAX_MEMORY=6G
ENABLE_ROLLING_LOGS=true
OVERRIDE_SERVER_PROPERTIES=true
ENABLE_AUTOPAUSE=true
DIFFICULTY=hard
MAX_PLAYERS=10
ALLOW_FLIGHT=TRUE
MOTD=SB3 for Friends!
OPS=