SERVICE_NAME=sq
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=1m
LOG_MAX_FILES=3

INFLUX_VIRTUAL_HOST=
GRAFANA_VIRTUAL_HOST=

MQTT_USERNAME=
MQTT_PASSWORD=

DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=
DOCKER_INFLUXDB_INIT_PASSWORD=
DOCKER_INFLUXDB_INIT_ORG=
DOCKER_INFLUXDB_INIT_BUCKET=
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=

GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=