SERVICE_NAME=gpsno-server
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=1m
LOG_MAX_FILES=3

VIRTUAL_HOST=
MQTT_HOST=
MQTT_PORT=
MQTT_USER=
MQTT_PASSWORD=
FLASK_SECRET_KEY=