SERVICE_NAME=immich
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=1m
LOG_MAX_FILES=3
HWACCEL=quicksync

VIRTUAL_HOST=

DB_HOSTNAME=immich-db
DB_DATABASE_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_STORAGE_TYPE=HDD

POSTGRES_USER=${DB_USERNAME}
POSTGRES_PASSWORD=${DB_PASSWORD}
POSTGRES_DB=${DB_DATABASE_NAME}
PG_DATA=/var/lib/postgresql/data

REDIS_HOSTNAME=redis

TYPESENSE_API_KEY=
TYPESENSE_DATA_DIR=/data