SERVICE_NAME=linkwarden
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=1m
LOG_MAX_FILES=3

VIRTUAL_HOST=
POSTGRES_PASSWORD=

# openssl rand -base64 32
NEXTAUTH_SECRET=
NEXTAUTH_URL=

NEXT_PUBLIC_AUTHENTIK_ENABLED=true
AUTHENTIK_ISSUER=
AUTHENTIK_CLIENT_ID=
AUTHENTIK_CLIENT_SECRET=
