SERVICE_NAME=paperless
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=1m
LOG_MAX_FILES=3

VIRTUAL_HOST=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

PAPERLESS_URL=
PAPERLESS_REDIS=redis://broker:6379
PAPERLESS_DBENGINE=mariadb
PAPERLESS_DBHOST=db
PAPERLESS_DBUSER=${MYSQL_USER}
PAPERLESS_DBNAME=${MYSQL_DATABASE}
PAPERLESS_DBPASS=${MYSQL_PASSWORD}
PAPERLESS_DBPORT=3306

AUTHENTIK_CLIENT_ID=
AUTHENTIK_CLIENT_SECRET=