SERVICE_NAME=terraria
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=1m
LOG_MAX_FILES=3
MEM_LIMIT=4g
SERVER_PORT=7777

TMOD_MOTD=
TMOD_PASS=
TMOD_MAXPLAYERS=8
TMOD_PORT=7777
TMOD_AUTOSAVE_INTERVAL=60
TMOD_WORLDNAME=
TMOD_WORLDSIZE=3
# TMOD_WORLDSEED=
TMOD_DIFFICULTY=0
# TMOD_AUTODOWNLOAD=
# TMOD_ENABLEDMODS=
TMOD_SHUTDOWN_MESSAGE=Server wird heruntergefahren...