SERVICE_NAME=twitch-drops-miner-legincy1
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=1m
LOG_MAX_FILES=3
WEB_PORT=5802

SECURE_CONNECTION=1
WEB_AUTHENTICATION=1
WEB_AUTHENTICATION_USERNAME=
WEB_AUTHENTICATION_PASSWORD=
USER_ID=1000
GROUP_ID=1000