SERVICE_NAME=gitea
CONTAINER_DIR=
TZ=Europe/Berlin
RESTART_POLICY=unless-stopped
LOG_MAX_SIZE=1m
LOG_MAX_FILES=3

VIRTUAL_HOST=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
USER_UID=1000
USER_GID=1000

GITEA__database__DB_TYPE=postgres
GITEA__database__HOST=db:5432
GITEA__database__NAME=${POSTGRES_DB}
GITEA__database__USER=${POSTGRES_USER}
GITEA__database__PASSWD=${POSTGRES_PASSWORD}
GITEA_INSTANCE_URL=https://${VIRTUAL_HOST}